.task-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.task-item {
    width: 550px;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    padding-left: 30px;
}

.task__title {
    font-size: 1.5rem;
}

.task__content, .task__deadline, .task__status, .task__category {
    font-size: 1.2rem;
}

.task__deadline {
    font-weight: normal;
    font-style: oblique;
}

.status_title {
    margin-left: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding:0;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  