.task-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.task-item {
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    padding-left:20px;
}

.task__title {
    font-size: 1.0rem;
}

.task__content {
    font-size: 0.8rem;
}

.task__category {
    font-size: 0.7rem;
    color: white;
    padding: 5px;
}

.task__deadline {
    font-weight: normal;
    font-style: oblique;
}

.add-task-status {
    margin-left : 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.status_title {
    margin-left: 30px;
    color: Navy;
}

/* .dropdown {
    position: relative;
}
  
.dropdown-content {
    display: none;
    position: absolute;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
   */

