<div class="container">
<% for (const [status, tasksList] of Object.entries(tasks)) { %>
    <div class="task__div">
        <h3 class="status_title"><%= status %></h3>
        <% if (tasksList.length > 0) { %> 
            <div>
                <% for (let task of tasksList) { %>
                   <%- include(('./task.ejs'), {task: task}); %>
                <% } %>
            </div>
        <% } else {%>
            <p>No Tasks Found !</p>
        <% } %>
        <i class="fas fa-plus">Add a Task</i>
    </div>
<% } %>
</div>
