<% for (const [categoryId, category] of Object.entries(tasks)) { %>
    <p><%= category.name %></p>
    <% if (category.tasks.length > 0) { %> 
        <div class="grid">
            <% for (let task of category.tasks) { %>
               <%- include(('./task.ejs'), {task: task}); %>
            <% } %>
        </div>
    <% } else {%>
        <p>No Tasks Found !</p>
    <% } %>
<% } %>