<% if (tasks.length > 0) { %> 
    <div class="grid">
        <% for (let task of tasks) { %>
           <%- include(('./task.ejs'), {task: task}); %>
        <% } %>
    </div>
<% } else {%>
    <p>No Tasks Found !</p>
<% } %>