<% for (let task of tasks) { %>
<div>
    <% if (task.status == 'CREATED') { %>
        <p>CREATED</p>
        <div class="grid">
            <%- include(('./task.ejs'), {task: task}); %>
        </div>
    <% } else if (task.status == 'ONGOING'){%>
        <p>ONGOING</p>
        <div class="grid">
            <%- include(('./task.ejs'), {task: task}); %>
        </div>
    <% } else {%>
        <p>FINISHED</p>
        <div class="grid">
            <%- include(('./task.ejs'), {task: task}); %>
        </div>
    <% } %>
</div>
<% } %>