<% for (const [category, categoryTasks] of Object.entries(tasks)) { %>
    <p><%= category %></p>
    <% if (categoryTasks.length > 0) { %> 
        <div class="grid">
            <% for (let task of categoryTasks) { %>
               <%- include(('./task.ejs'), {task: task}); %>
            <% } %>
        </div>
    <% } else {%>
        <p>No Tasks Found !</p>
    <% } %>
<% } %>